<mat-stepper [linear]="isLinear" #stepper  activeColor="red" inactiveColor="blue">
  <mat-step class="test">
    <ng-template matStepLabel>Resumen de Orden</ng-template>
    

    <mat-card class="box">
      <mat-card-content *ngIf="dataSource">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
          <ng-container matColumnDef="producto">
            <mat-header-cell *matHeaderCellDef class="thtabla"> Producto </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.product.nombre }}
            </mat-cell>

            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef class="thtabla"> Precio </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.precio | currency }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef class="thtabla"> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-form-field appearance="fill">
                <input
                  matInput
                  id="cantidad "
                  type="number"
                  class="form-control mb-2"
                  [(ngModel)]="element.cantidad"
                  (change)="actualizarCantidad(element)"
                />
              </mat-form-field>
            </mat-cell>

            <mat-footer-cell *matFooterCellDef class="footer-total"
              >Total
            </mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="subtotal">
            <mat-header-cell *matHeaderCellDef class="thtabla"> Subtotal </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.subtotal | currency }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef class="footer-total">{{
              total * 1.13 | currency
            }}</mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="thtabla"> Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="eliminarItem(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="header"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          <mat-footer-row
            *matFooterRowDef="displayedColumns"
            class="footer-row"
          ></mat-footer-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
    <div>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="pedidosForm" label="Dirección de entrega">
    <form [formGroup]="pedidosForm">
      <div class="row">
        <div class="col" *ngIf="direccionList">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Direccion de entrega"
              formControlName="direccion"
              (selectionChange)="onAddressSelected($event)"
            >
              <mat-option
                *ngFor="let g of direccionList"
                [value]="g.idDireccion"
              >
                {{ g.provincia }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div *ngIf="selectedAddress">
      <h4>Información de la dirección seleccionada:</h4>
      <p>Provincia: {{ selectedAddress.provincia }}</p>
      <p>Canton: {{ selectedAddress.canton }}</p>
      <p>Distrito: {{ selectedAddress.distrito }}</p>
      <p>Dirección Exacta: {{ selectedAddress.direccionExacta }}</p>
      <p>Telefono de contacto: {{ selectedAddress.telefono }}</p>
      <!-- Agrega otras propiedades de la dirección aquí -->
    </div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="pedidosForm" label="Método de pago">
    <form [formGroup]="pedidosForm">
      <div class="row">
        <div class="col" *ngIf="metodosList">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Método de pago"
              formControlName="metodo"
              (selectionChange)="onpaymentSelected($event)"
            >
              <mat-option *ngFor="let g of metodosList" [value]="g.idPago">
                {{ g.tipoPago.TipoPago }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div *ngIf="selectedPayment">
      <h4>Información del pago seleccionado:</h4>
      <p>Metodo de pago: {{ selectedPayment.tipoPago.TipoPago }}</p>
      <div *ngIf="selectedPayment.proveedor">
        <p>Proveedor: {{ selectedPayment.proveedor }}</p>
      </div>
      <div *ngIf="selectedPayment.numTarjeta">
        <p>Proveedor: {{ selectedPayment.numTarjeta.slice(-4) }}</p>
      </div>
      
    </div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Revisar</ng-template>
    <mat-card-actions align="end">
      <button mat-flat-button style="background-color: #b80000; color: #ffffff" (click)="registrarOrden()">
        Comprar
        <mat-icon>shopping_bag</mat-icon>
      </button>
    </mat-card-actions>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button (click)="stepper.reset()">Reiniciar</button>
    </div>
  </mat-step>
</mat-stepper>
