

.custom-table {
  background-color: #f0f0f000; /* Cambia el color de fondo según tus necesidades */
  /*border-radius: 0 0  20px 20px ;*/
}

.thtabla{
  color:#ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}


.footer-row {
    font-weight: bold;
    background-color: #ffffff4b;
  color:#000000;
  }
  .box { margin: 2em 2em; padding: 2em 2em;}
  .header{
    background-color: #000163c0;
  }
  .footer-row{
    background-color:#e8e8e8;
    
  }
  .footer-total{
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .bottomDesing {
    margin-top: 16px;
    background-color: #000163;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
  }

  .headerh1{
    font-family: 'Press Start 2P', cursive;
    margin: 1.5rem;
    font-size: 13px;
    text-align: center;
    background-color: #b80000;
    border-radius: 20px;
    flex-grow: 1;
    line-height: 2.5;
  }
  .mat-step-icon-selected{
    background-color: #b80000 !important;
  }

  .full-width {
    width: 100%;
  }