<mat-stepper [linear]="isLinear" #stepper [color]="'warn'">
  <mat-step class="test">
    <ng-template matStepLabel>Resumen de Orden</ng-template>

    <mat-card class="box">
      <mat-card-content *ngIf="dataSource">
        <mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 custom-table"
        >
          <ng-container matColumnDef="producto">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Producto
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.product.nombre }}
            </mat-cell>

            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Precio
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.precio | currency }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Cantidad
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-form-field appearance="fill">
                <input
                  matInput
                  id="cantidad "
                  type="number"
                  class="form-control mb-2"
                  [(ngModel)]="element.cantidad"
                  (change)="actualizarCantidad(element)"
                />
              </mat-form-field>
            </mat-cell>

            <mat-footer-cell *matFooterCellDef class="footer-total"
              >Total
            </mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="subtotal">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Subtotal
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.subtotal | currency }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef class="footer-total">{{
              total * 1.13 | currency
            }}</mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Acciones</mat-header-cell
            >
            <mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="eliminarItem(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-icon-button
                class="action-button"
                color="accent"
                matTooltip="Detalle del Producto"
                aria-label="Detalle del Producto"
                color="primary"
                (click)="detalleProducto(element.idItem)"
                style="color: #212121"
              >
                <mat-icon class="mat-18">info</mat-icon>
              </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="header"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          <mat-footer-row
            *matFooterRowDef="displayedColumns"
            class="footer-row"
          ></mat-footer-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
    <div>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="pedidosForm" label="Dirección de entrega">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="headerh1">Direcciones Guardadas</h4>
        <form [formGroup]="pedidosForm">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select
                  placeholder="Direccion de entrega"
                  formControlName="direccion"
                  (selectionChange)="onAddressSelected($event)"
                >
                  <mat-option
                    *ngFor="let g of direccionList"
                    [value]="g.idDireccion"
                  >
                    {{ g.provincia }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div *ngIf="selectedAddress" class="bottomDesing">
          <h4 class="headerh1">Información de la dirección seleccionada:</h4>
          <p>Provincia: {{ selectedAddress.provincia }}</p>
          <p>Canton: {{ selectedAddress.canton }}</p>
          <p>Distrito: {{ selectedAddress.distrito }}</p>
          <p>Dirección Exacta: {{ selectedAddress.direccionExacta }}</p>
          <p>Telefono de contacto: {{ selectedAddress.telefono }}</p>
          <!-- Agrega otras propiedades de la dirección aquí -->
        </div>
      </div>
      <div class="col-lg-6">
        <h4 class="headerh1">Crear nueva direccion</h4>
        <form [formGroup]="direccionesForm">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Provincia"
                  formControlName="provincia"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Canton" formControlName="canton" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Distrito"
                  formControlName="distrito"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Dirección Exacta"
                  formControlName="direccion"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Código Postal"
                  formControlName="codigoPostal"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Telefono"
                  formControlName="telefono"
                />
              </mat-form-field>
            </div>
          </div>
        </form>

        <button
          mat-flat-button
          style="background-color: #b80000; color: #ffffff"
          (click)="registrarDireccion()"
        >
          Añadir
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="pedidosForm" label="Método de pago">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="headerh1">Metodos de pago Existentes</h4>
        <form [formGroup]="pedidosForm">
          <div class="row">
            <div class="col" *ngIf="metodosList">
              <mat-form-field class="full-width">
                <mat-select
                  placeholder="Método de pago"
                  formControlName="metodo"
                  (selectionChange)="onpaymentSelected($event)"
                >
                  <mat-option *ngFor="let g of metodosList" [value]="g.idPago">
                    {{ g.tipoPago.TipoPago }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>

        <div *ngIf="selectedPayment" class="bottomDesing">
          <h4 class="headerh1">Información del pago seleccionado:</h4>
          <p>Metodo de pago: {{ selectedPayment.tipoPago.TipoPago }}</p>
          <div *ngIf="selectedPayment.proveedor">
            <p>Proveedor: {{ selectedPayment.proveedor }}</p>
          </div>
          <div *ngIf="selectedPayment.numTarjeta">
            <p>Proveedor: {{ selectedPayment.numTarjeta.slice(-4) }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h4 class="headerh1">Crear nuevo Metodo de pago</h4>
        <form [formGroup]="pagosForm">
          <div class="row">
            
            <div class="col">
              <mat-form-field class="full-width">
              <mat-select
                placeholder="Método de pago"
                formControlName="tipoPagoId"
                (selectionChange)="onpaymentSelected($event)"
              >
                <mat-option
                  *ngFor="let g of tiposPagoList"
                  [value]="g.idTipoPago"
                >
                  {{ g.TipoPago }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Numero de Tarjeta (Opcional)"
                  formControlName="numTarjeta"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Proveedor (Opcional)" formControlName="proveedor" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Numero de Cuenta o Telefono (Opcional)"
                  formControlName="numCuenta"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Fecha de Expiracion"
                  formControlName="fechaExpiracion"
                  [matDatepicker]="picker"
                  
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre"
                  formControlName="nombre"
                />
              </mat-form-field>
            </div>
          </div>
        </form>

        <button
          mat-flat-button
          style="background-color: #b80000; color: #ffffff"
          (click)="registrarPago()"
        >
          Añadir
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Revisar</ng-template>
    <mat-card class="box">
      <mat-card-actions align="end">
        <button
          mat-flat-button
          style="background-color: #b80000; color: #ffffff"
          (click)="registrarOrden()"
        >
          Comprar
          <mat-icon>shopping_bag</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-content *ngIf="dataSource">
        <mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 custom-table"
        >
          <ng-container matColumnDef="producto">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Producto
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.product.nombre }}
            </mat-cell>

            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Precio
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.precio | currency }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Cantidad
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.cantidad }}
            </mat-cell>

            <mat-footer-cell *matFooterCellDef class="footer-total"
              >Total
            </mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="subtotal">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Subtotal
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.subtotal | currency }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef class="footer-total">{{
              total * 1.13 | currency
            }}</mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="thtabla">
              Acciones</mat-header-cell
            >
            <mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="eliminarItem(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="header"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          <mat-footer-row
            *matFooterRowDef="displayedColumns"
            class="footer-row"
          ></mat-footer-row>
        </mat-table>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <div class="row bottomDesing" *ngIf="selectedPayment || selectedAddress">
        <div class="col-lg-6">
          <div *ngIf="selectedAddress">
            <h4 class="headerh1">Información de la dirección seleccionada:</h4>
            <p>Provincia: {{ selectedAddress.provincia }}</p>
            <p>Canton: {{ selectedAddress.canton }}</p>
            <p>Distrito: {{ selectedAddress.distrito }}</p>
            <p>Dirección Exacta: {{ selectedAddress.direccionExacta }}</p>
            <p>Telefono de contacto: {{ selectedAddress.telefono }}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div *ngIf="selectedPayment">
            <h2 class="headerh1">Información del pago seleccionado:</h2>
            <p>Metodo de pago: {{ selectedPayment.tipoPago.TipoPago }}</p>
            <div *ngIf="selectedPayment.proveedor">
              <p>Proveedor: {{ selectedPayment.proveedor }}</p>
            </div>
            <div *ngIf="selectedPayment.numTarjeta">
              <p>Proveedor: {{ selectedPayment.numTarjeta.slice(-4) }}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button (click)="limpiar()">Reiniciar</button>
    </div>
  </mat-step>
</mat-stepper>
