<div class="principal">
    <div class="container">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" style="background-color: #b8000000; color: #b80000">close</mat-icon>
      </button>
      <h2 class="headerh1">Pedido #{{ datos?.idPedido }} - {{ datos.estadoPedido?.estado }}</h2>
    </div>
    <div *ngIf="datos">
      <mat-dialog-content class="bodyDiag">
        <p><strong>Pedido a nombre de:</strong> {{ datos.usuarios?.nombre }}</p>
        <mat-divider inset></mat-divider>
        <p><strong>Dirección del pedido: </strong></p>
        <p><strong>Provincia: </strong>{{ datos.direcciones?.provincia }}</p>
        <p><strong>Canton: </strong>{{ datos.direcciones?.canton }}</p>
        <p><strong>Distrito: </strong>{{ datos.direcciones?.distrito }}</p>
        <p><strong>Direccion Exacta: </strong>{{ datos.direcciones?.direccionExacta }}</p>
        <p><strong>Codigo Postal: </strong>{{ datos.direcciones?.codigoPostal }}</p>
        <mat-divider inset></mat-divider>
        <p><strong>Telefono de contacto: </strong>{{ datos.direcciones?.telefono }}</p>
        <mat-divider inset></mat-divider>
        <strong *ngIf="datos.productos && datos.productos.length > 0">Productos:</strong>
        <strong *ngIf="!datos.productos || datos.productos.length === 0">Aún no hay productos para esta compra.</strong>
        <ul *ngIf="datos.productos && datos.productos.length > 0">
          <li *ngFor="let producto of datos.productos">
            <p><strong>Nombre del producto:</strong>{{ producto.productos?.nombre }}</p>
            <p><strong>Marca del producto:</strong>{{ producto.productos?.usuarios?.nombre }}</p>
            <!--Falta la cantidad de productos-->
            <!--<p><strong>Cantidad:</strong>{{producto.cantidad?}}</p>-->
            <p><strong>Monto del producto:</strong>{{ producto.productos?.precio | currency : "USD" }}</p>
            <mat-divider inset></mat-divider>
          </li>
        </ul>
        <p><strong>Monto Total: </strong>{{ datos.total | currency : "USD" }}</p>
        <mat-divider inset></mat-divider>
        <p><strong>Metodo de pago: </strong>{{ datos.pagos?.tipoPago?.TipoPago }}</p>
        <mat-divider inset></mat-divider>
      </mat-dialog-content>
  
      <mat-dialog-actions></mat-dialog-actions>
    </div>
  </div>
  