.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: #00013671;
  color: #fff;
}
.title-center {
  flex: 1 1 auto;
  text-align: center;
}
.footer-item {
  white-space: normal;
}
.centrar{
  align-items: center;
}