grid-container {
  margin: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.dashboard-card-content {
  text-align: center;
}

.mat-h1 {
  text-align: center;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  
}

.dashboard-card mat-card-header,
.dashboard-card mat-card-actions {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination-controls {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

.action-button {
  margin: 0 5px; /* Ajusta el margen horizontal según tus necesidades */
}
.back{
  padding: 10px 0 ;
}

.header{
  font-family: 'Press Start 2P', cursive;
  background-color: #000136;
  padding: 0 1vw;
  border-radius: 40px;
}

.headerh1{
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  margin: 1.5rem;
  text-align: center;
  background-color: #b80000;
  color: #ffffff;
  padding: 1rem;
  border-radius: 40px;
}
.border{
  border-radius: 10px;
  background-color: #a5a5a588;
  color: #ffffff;

  max-height: 250px;
  border: solid 5px #b80000;
}


.button-container {
  display: flex;
  justify-content: flex-end;
}