<div class="grid-container">
  <div class="headerh1">
    Productos
  </div>
  <mat-grid-list [cols]="2" rowHeight="16em" gutterSize="10px">
    <mat-grid-tile
      *ngFor="
        let item of datos.slice(
          (paginaActual - 1) * tarjetasPorPagina,
          paginaActual * tarjetasPorPagina
        )
      "
    >
      <mat-card class="dashboard-card border">
        <mat-card-header class="back">
          <mat-card-title class="header">{{ item.nombre }}</mat-card-title>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <div><strong>Precio: </strong>{{ item.precio | currency : "USD" }}</div>
          <div><strong>Marca: </strong>{{ item.usuarios?.nombre }}</div>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <div class="button-container">
              <button
                mat-mini-fab
                class="action-button"
                color="accent"
                matTooltip="Detalle del Producto"
                aria-label="Detalle del Producto"
                color="primary"
                (click)="detalleProducto(item.idProducto)"
                style="background-color: #000163; color: #ffffff"
              >
                <mat-icon class="mat-18">info</mat-icon>
              </button>
              <button
                mat-mini-fab
                class="action-button"
                color=""
                matTooltip="Comprar"
                aria-label="Comprar"
                color=""
                style="background-color: #b80000; color: #ffffff"
              >
                <mat-icon class="mat-18">add_shopping_cart</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Agregar controles de paginación -->
  <div class="pagination-controls">
    <button
      mat-icon-button
      [disabled]="paginaActual === 1"
      (click)="paginaActual = paginaActual - 1"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span>{{ paginaActual }}</span>
    <button
      mat-icon-button
      [disabled]="paginaActual * tarjetasPorPagina >= datos.length"
      (click)="paginaActual = paginaActual + 1"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
