html, body { 
    height: 100%;
 }
body { margin: 0; font-family: 'Press Start 2P', cursive;}
body {
    background-image: url('./assets/images/background.jpeg');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3vh;
  }

  .custom-primary {
    background-color: #b80000; /* Cambia el color a tu preferencia */
    color: #FFFFFF;
  }
  
  .custom-accent {
    background-color: #000163; /* Cambia el color a tu preferencia */
    color: #FFFFFF;
  }
  
  .custom-warn {
    background-color: #818181; /* Cambia el color a tu preferencia */
    color: #FFFFFF;
  }
