mat-card {
background-color: #00013600;
  margin: 2em auto;
  text-align: center;
  border-radius: 20px;
}
.carrusel{
  max-width: 450px;
  
}
.margincard{
  margin-top: 2em;
}
.tiles{
background-color: #00013671;
color: #ffffff;
margin: 1%;
max-width: 17vw;
height: 30vh;
}
.tiles:hover {
  color: #b80000;
  background-color: #000136;
}
.carousel-container {
  width: 100%; /* Ancho del contenedor del carrusel */
  height: 400px; /* Alto del contenedor del carrusel */
}

.carousel {
  width: 100%; /* Ancho del carrusel */
}

.headerCardcolor{
  background-color: #b8000071;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  padding-bottom: 2%;
  border-radius:  20px 20px 0  0 ;
}
.footerCardcolor{
  background-color: #00013671;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  border-radius:  0  0 20px 20px;
}

.formatimage img {
  width: 90%;
  max-width: 100%;
}