<div class="principal">
  <!-- <form [formGroup]="evaluacionForm" (ngSubmit)="isCreate ? crearEvaluacion(): actualizarProducto()"  novalidate > -->
  <form
    [formGroup]="evaluacionForm"
    (ngSubmit)="isCreate ? crearEvaluacion() : crearEvaluacion()"
    novalidate
  >
    <input type="hidden" formControlName="id" />


        <div class="container d-flex justify-content-center">
          <button
            mat-icon-button
            class="close-button"
            [mat-dialog-close]="true"
          >
            <mat-icon
              class="close-icon"
              style="background-color: #b8000000; color: #b80000"
            >
              close
            </mat-icon>
          </button>
          <h2 class="headerh1">{{ titleForm }} Evaluación</h2>
          <img
            src="./assets/images/LevelUp CR.png"
            class="logo-image"
            alt="Logo"
          />
        </div>

        <mat-dialog-content class="bodyDiag">
        <div class="row">
          <mat-form-field class="full-width" [color]="'warn'">
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="calificacion">
              <mat-option
                *ngFor="let c of calificacion"
                [value]="c.idCalificacion"
                >{{ c.idCalificacion }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="errorHandling('calificacion', 'required')">
              Calificación es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" [color]="'warn'">
            <input
              matInput
              formControlName="comentario"
              placeholder="Comentario"
            />
            <!-- <mat-hint align="end"> / 20</mat-hint> -->
            <mat-error *ngIf="errorHandling('comentario', 'required')">
              Comentario es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('comentario', 'minlength')">
              Comentario debe tener <strong>3 caracteres</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          style="background-color: #000136; color: #ffffff"
          type="submit"
        >
          {{ titleButton }}
        </button>
      </mat-dialog-content>
      <mat-card-actions class="d-flex justify-content-center">
        
      </mat-card-actions>

  </form>
</div>
