<!-- <mat-card class="carrusel" style="max-width: 200px;">
  <mat-card-content class="headerCardcolor">
    <p>Level Up CR</p>
  </mat-card-content>
  <div
    id="carouselExampleAutoplaying"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let foto of datos; let i = index" class="carousel-item" [class.active]="i === 0">
        <img [src]="'http://localhost:3000/' + foto.Foto" alt="Imagen" class="d-block w-100" style="max-width: 200px; max-height: 200px;">
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <mat-card-content class="footerCardcolor">
    <p>La tienda que te sube de nivel</p>
  </mat-card-content>
</mat-card>
 -->


 <input type="file" (change)="onFileSelected($event)" accept="image/*">
<button (click)="uploadImage()">Subir Imagen</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Column definitions -->
  <ng-container matColumnDef="imagen">
    <th mat-header-cell *matHeaderCellDef> Imagen </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.imageUrl" width="150" height="100" alt="Imagen del producto" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>