<mat-toolbar color="primary" class="header">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu1"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <img src="./assets/images/LevelUp CR.png" class="logo-image" alt="Logo" />
  <span class="header">Level Up CR</span>

  <!-- <span><a [routerLink]="['/']" routerLinkActive="mat-raised-button" >Level Up CR</a></span> -->

  <mat-menu #menu1="matMenu">
    <button
      mat-menu-item
      [routerLink]="['/']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>home</mat-icon>Inicio
    </button>
    <button
      mat-menu-item
      [routerLink]="['/acerca-de']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>info</mat-icon>Acerca de
    </button>
    
      <!-- <button
      mat-menu-item
      [routerLink]="['/productos']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>shopping_bag</mat-icon>Productos
    </button> -->
    <ng-container *ngIf="isCliente()||currentUser?.user.role == null">
      <button mat-menu-item [routerLink]="['/productos']" routerLinkActive="mat-raised-button">
        <mat-icon>shopping_bag</mat-icon>Productos
      </button>
    </ng-container>
    <ng-container *ngIf="isVendedor()">
      <button mat-menu-item [routerLink]="['/productos/vendedor']" routerLinkActive="mat-raised-button">
        <mat-icon>shopping_bag</mat-icon>Productos
      </button>
    </ng-container>
    <ng-container *ngIf="isAdmin()">
      <button mat-menu-item [routerLink]="['/productos/all']" routerLinkActive="mat-raised-button">
        <mat-icon>shopping_bag</mat-icon>Productos
      </button>
    </ng-container>
    <ng-container *ngIf="isCliente()">
    <button
      mat-menu-item
      [routerLink]="['/pedidos/cliente']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>shopping_basket</mat-icon>Pedidos
    </button>
  </ng-container>
  <ng-container *ngIf="isVendedor()">
    <button
      mat-menu-item
      [routerLink]="['/productos/vendidos']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>check</mat-icon>Entregar Pedidos
    </button>
  </ng-container>
  <ng-container *ngIf="isVendedor()">
    <button
      mat-menu-item
      [routerLink]="['/pedidos/vendedor']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>shopping_basket</mat-icon>Pedidos
    </button>
  </ng-container>
  <ng-container *ngIf="isAdmin()">
    <button
      mat-menu-item
      [routerLink]="['/pedidos/all']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>shopping_basket</mat-icon>Pedidos
    </button>
  </ng-container>
  <ng-container *ngIf="isAdmin()">
    <button
      mat-menu-item
      [routerLink]="['usuarios/all']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>person</mat-icon>Usuarios
    </button>
  </ng-container>
  <ng-container *ngIf="isAdmin()">
    <button
      mat-menu-item
      [routerLink]="['usuarios/disabled']"
      routerLinkActive="mat-raised-button"
    >
    <mat-icon>person</mat-icon>Usuarios Deshabilitados
    </button>
  </ng-container>
  
  <ng-container *ngIf="isCliente()">
    <button
      mat-menu-item
      [routerLink]="['/evaluaciones/cliente']" 
      routerLinkActive="mat-raised-button" 
    >
    <mat-icon>stars</mat-icon>Evaluaciones
  </button>
  </ng-container>

  <ng-container *ngIf="isVendedor()">
    <button
      mat-menu-item
      [routerLink]="['/evaluaciones/vendedor']" 
      routerLinkActive="mat-raised-button" 
    >
    <mat-icon>stars</mat-icon>Evaluaciones
  </button>
  </ng-container>

    <!-- <button mat-menu-item [matMenuTriggerFor]="menu2">Listados</button> -->
    
  </mat-menu>
  <!-- <mat-menu #menu2="matMenu">
    <button
      mat-menu-item
      [routerLink]="['/productos']"
      routerLinkActive="mat-raised-button"
    >
      Productos
    </button>
    <button
      mat-menu-item
      [routerLink]="['/productos/vendedor']"
      routerLinkActive="mat-raised-button"
    >
      Productos Vendedor
    </button>
    
  </mat-menu> -->
  <div class="example-button-container"></div>
  <div class="example-spacer"></div>
  <div class="example-spacer left">
    <!-- Enlaces de la aplicación -->
    <!-- https://fonts.google.com/icons -->
    <ng-container *ngIf="isCliente()">
    <button mat-icon-button matBadgeColor="warn" [matBadge]="qtyItems.toString()" 
       [routerLink]="'/pedidos'" [routerLinkActive]="'mat-raised-button'"  aria-label="Cantidad">
     <mat-icon>shopping_cart</mat-icon>
   </button>
  </ng-container>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu3"
      class="mat-square-button"
    >
      <mat-icon [ngStyle]="{ color: isAutenticated ? 'white' : '#9E9E9E' }"
        >person</mat-icon
      >
    </button>
    <mat-menu #menu3="matMenu">
      <a mat-menu-item *ngIf="!(isAutenticated)" (click)="login()">
        <mat-icon>person_add</mat-icon>
        <span>Login</span>
      </a>
      <a mat-menu-item *ngIf="isAutenticated" (click)="logout()">
        <mat-icon>person_remove</mat-icon>
        <span>Logout</span>
      </a>

      <ng-container *ngIf="isAdmin()||isCliente()||isVendedor()">
        <button
          mat-menu-item
          (click)="detalle()"
          routerLinkActive="mat-raised-button"
        >
        <mat-icon>manage_accounts</mat-icon>Mi Perfil
        </button>
      </ng-container>
    </mat-menu>
  </div>
  <span class="mat-caption" *ngIf="isAutenticated">{{currentUser.user.nombre}}</span>
</mat-toolbar>
