<div class="principal">
  <div class="container">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon
        class="close-icon"
        style="background-color: #b8000000; color: #b80000"
        >close</mat-icon
      >
    </button>
    <h2 class="headerh1">{{ datos?.nombre }}</h2>
    <img src="./assets/images/LevelUp CR.png" class="logo-image" alt="Logo" />
  </div>
  <div *ngIf="datos">
    <mat-dialog-content class="bodyDiag">
      <div class="row">
        <div class="col-lg-6">
          <div
            *ngIf="datos.fotosProductos && datos.fotosProductos.length > 0"
            class="carousel-container2"
          >
            <mat-card class="carrusel">
              <div
                id="carouselExampleAutoplaying"
                class="carousel carousel-dark slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div
                    *ngFor="let foto of datos.fotosProductos; let i = index"
                    class="carousel-item"
                    [class.active]="i === 0"
                  >
                    <img
                      [src]="'http://localhost:3000/' + foto.Foto"
                      alt="Imagen"
                      class="d-block w-100"
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </mat-card>
          </div>
          <div
            *ngIf="!datos.fotosProductos || datos.fotosProductos.length === 0"
            class="no-response"
          >
            <div class="textfotos">Aún no hay fotos para este producto.</div>
          </div>
        </div>
        <div class="col-lg-6">
          <p>{{ datos.categoria.categoria }}</p>
          <p>Marca: {{ datos.usuarios?.nombre }}</p>
          <p>{{ datos.precio | currency : "USD" }}</p>
          <p>Stock disponible: {{ datos.cantidad }}</p>
          <p>
            <strong>Descripción del artículo:</strong> {{ datos.descripcion }}
          </p>
          <p>Estado del producto: {{ datos.estadoProducto.estado }}</p>
        </div>
      </div>
      <mat-divider inset></mat-divider>
      <div class="conversation">
        <div class="textpregunta" *ngIf="isCliente()">
          <form [formGroup]="preguntaForm">
            <div class="row">
              <div class="col-lg-10 col-md-9">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    placeholder="Escriba aqui su pregunta acerca del producto"
                    formControlName="pregunta"
                  />
                  <mat-error *ngIf="errorHandling1('pregunta','required')">
                    Pregunta es <strong>requerida</strong>
                  </mat-error>
                  <mat-error *ngIf="errorHandling1('pregunta','minlength')">
                    Pregunta debe tener <strong>3 caracteres mínimo</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-2 col-md-3 ">
                <a
                  mat-fab
                  matTooltip="Crear Producto"
                  aria-label="Crear Producto"
                  color="primary"
                  (click)="enviarPregunta(datos.idProducto)"
                  style="background-color: #000163; color: #ffffff"
                >
                  <mat-icon>send</mat-icon>
                </a>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="datos.preguntas && datos.preguntas.length > 0">
          <div *ngFor="let pregunta of datos.preguntas" class="message">
            <div class="textpregunta">{{ pregunta.pregunta }}</div>
            <div class="textrespuesta" *ngIf="responderProductos()">
              <form [formGroup]="respuestaForm">
                <div class="row">
                  <div class="col-lg-10 col-md-9">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        placeholder="Escriba aqui su respuesta acerca de la pregunta"
                        formControlName="respuesta"
                      />
                      <mat-error *ngIf="errorHandling2('respuesta','required')">
                        Respuesta es <strong>requerida</strong>
                      </mat-error>
                      <mat-error *ngIf="errorHandling2('respuesta','minlength')">
                        Respuesta debe tener <strong>3 caracteres mínimo</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-2 col-md-3">
                    <a
                      mat-fab
                      matTooltip="Crear Producto"
                      aria-label="Crear Producto"
                      color="primary"
                      (click)="enviarRespuesta(pregunta.idPregunta)"
                      style="background-color: #b80000; color: #ffffff"
                    >
                      <mat-icon>send</mat-icon>
                    </a>
                  </div>
                </div>
              </form>
            </div>
            <div
              *ngIf="pregunta.respuestas && pregunta.respuestas.length > 0"
              class="responses"
            >
              <div
                *ngFor="let respuesta of pregunta.respuestas"
                class="response"
              >
                <div class="textrespuesta">{{ respuesta.respuesta }}</div>
              </div>
            </div>
            <div
              *ngIf="!pregunta.respuestas || pregunta.respuestas.length === 0"
              class="no-response"
            >
              <div class="textrespuesta">
                Aún no hay respuestas para esta pregunta.
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="!datos.preguntas || datos.preguntas.length === 0"
          class="no-response"
        >
          <div class="textpregunta">
            Aún no hay preguntas para este producto.
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions> </mat-dialog-actions>
  </div>
</div>
